.card{
    border: 2px solid gray;
    padding: 5px;
    margin: 5px;
    width: 10rem;
    height: 15rem;
    background-color: azure;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px gray;
}